<div class="layout layout--col gap--space-between">
  <div id="{{ chart_id }}" class="w--full h--full p--1 lg:p--3"></div>
</div>

<div class="title_bar">
  <img class="image image-stroke image-stroke--medium" src="data:image/svg+xml;base64,{{ adafruit_logo | base64_encode }}" />
  <span class="title">{{ feed_info.name }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>

<script>
  (() => {
    const initChart = window[`TRMNL_ADAFRUIT_IO_CREATE_{{ chart_id }}`];

    // ensure your chart loads before plugin render is generated
    if (typeof initChart === "function" && "Chartkick" in window) {
      initChart();
    } else if (typeof initChart === "function") {
      window.addEventListener("chartkick:load", initChart, { once: true });
    }
  })();
</script>
